<div>

    <h1>Message Form</h1>
    <p id="toastMessage"></p>

    <form [formGroup]="messageForm" (ngSubmit)="saveMessage()">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" [formControl]="title" required />

            <div *ngIf="title.errors">
                <div *ngIf="title.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                    <div>Title is required</div>
                    <div>Title can be max 150 characters long.</div>
                </div>
            </div>
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" [formControl]="description" required />
            <div *ngIf="description.errors">
                <div *ngIf="description.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
                    <div>Description is required</div>
                </div>
            </div>
        </div>
        <button type="submit">Save</button>
    </form>
</div>